.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}
header nav {
    background-color: #08202e;
}
.navbar-light .navbar-nav .nav-link  {
    color: rgba(255,255,255,.6);
}
    .navbar-light .navbar-nav .nav-link:hover {
        color: white;
    }
.link {
    margin: 0px 2%;
    color: #3F7C9E;
    border: 2px solid #212529;
    border-radius: 2px;
    padding: 6px 5px;
    text-decoration:none;
}
    .link:hover, .navbar-brand h1 a:hover {
        text-decoration: none;
        color: #3F7C9E;
        opacity: 0.5;
    }
.navbar-brand h1 a {
    color: #3F7C9E;
}
