.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}
header nav {
    background-color: #181818 /*#08202e*/;
 
}
.navbar-light .navbar-nav .nav-link {
    color: #808080 ;
}
.navbar-light .navbar-nav .nav-link:hover {
        color: white;}
.link {
    margin: 10px;
    /*color: #3F7C9E;
    border: 2px solid #212529;
    border-radius: 2px;
    padding: 6px 5px;
    text-decoration:none;*/
}
.link:hover, .navbar-brand h1 a:hover {
        text-decoration: none;
        /*color: #3F7C9E;*/
        opacity: 0.5;
    }
.dropdown-menu {
    background-color: #222;
}
    .dropdown-menu a {
        color: #808080;
    }
        .dropdown-menu a:hover {
            background-color: #222;
            color: white;
        }
        @media (max-width: 1189px)
        and (min-width:990px) {
            .link {
        margin-top: 5px !important;
       }
}
@media (max-width: 1183px)
and (min-width:1150px) {
    .link {
        margin-left: 0px;
    }
}
@media (max-width: 1030px) and (min-width:990px) {
    .indent {
        margin-top: 5px !important;
    }
}

.navbar-brand h1 a {
    color:#3F7C9E;
}

