
.done {
    display: none;
}
.listItems {
    z-index: 3;
    position: absolute;
    border-radius: .25rem;
    margin-top: 30px;
    padding: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    background-color: #222;
    color: #808080;
}
.items {
    text-align: left;
    padding: 0px 20px;
    width: 150px;
}
    .items:hover {
        color: white;
    }
.titleFiltr {
    font-weight: 500;
    border-bottom: 1px solid #808080;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    margin: 0px 20px;
    color: #808080;
}
@media (max-width: 768px){
    .titleFiltr{ flex-direction:column;
       margin: 15px;
       display: inline-block;
 }
 }
.titleFiltr:hover {
    /*background-color: #222;*/
    color: white;
}
.showList {
    display:flex;
    padding:15px;
    width: 300px;
}
