
.done {
    display: none;
}
.listItems {
    z-index: 3;
    position: absolute;
    border: 1px solid #3F7C9E;
    border-radius: .25rem;
    margin-top: 30px;
    padding: 5px;
    color: #212529;
    font-weight: 500;
    cursor: pointer;
    background-color: #f9f9f9;
}
.items {
    text-align: left;
    padding: 0px 20px;
    width: 150px;
}
    .items:hover {
        color: #616D78
    }
.titleFiltr {
    font-weight: 600;
    border: 1px solid #3F7C9E /*#08202e*/;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin: 0px 20px;
    color: #212529;
}
@media (max-width: 768px){
    .titleFiltr{ flex-direction:column;
       margin: 15px;
       display: inline-block;
 }
 }
.titleFiltr:hover {
    background-color: #6c757d;
    color: white;
}
.showList {
    display:flex;
    padding:15px;
    width: 300px;
}
