
.posterBlock {
    background-color: #222;
    position: relative;
    border-radius: 5px;
    width: 230px;
}


    .posterBlock div {
        width:100%;
    }
.filmData {
    top: 363px;
    position: absolute;
    text-align: left;
    z-index: 10;
    padding: 10px;
    background-color: #222;
    border-radius: 0px 0px 5px 5px;
}
.filmData div {
        padding-left: 5px;
        width: 100%;
        display: flex;
        max-height: 100%;
    }

.posterBlock p {
    min-width: 90px;
    color: #8f95a3;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: auto;
}
.posterBlock span {
    color: #8f95a3;
    width: 100%
}
    .posterBlock span a {
        color: #808080;
        font-weight: 700;
        font-size: 14px;
    }
.posterBlock img {
    margin-top: 15px;
    width: 200px;
    height: 300px;
}

.posterBlock b {
    font-size: 20px;
    display: inline-block;
    color: #8f95a3;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
    height: 52px;
}




