
.posterBlock {
    background-color: #f9f9f9;
    position: relative;
    border-radius: 5px;
}

    .posterBlock div {
        width: 260px;
    }
.filmData {
    top: 420px;
    position: absolute;
    text-align: left;
    z-index: 10;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 0px 0px 5px 5px;
}
.filmData div {
        padding-left: 5px;
        width: 100%;
        display: flex;
        max-height: 100%;
    }

.posterBlock p {
    min-width: 90px;
    color: #8f95a3;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: auto;
}
.posterBlock span {
    color: #8f95a3;
    width: 100%
}
    .posterBlock span a {
        color: #688297;
        font-weight: 700;
        font-size: 14px;
    }
.posterBlock img {
    margin: 20px;
    width: 200px;
    height: 300px;
}

.posterBlock b {
    font-size: 20px;
    display: block;
    color: #0e8cbc;
    padding-bottom: 10px;
    height: 70px;
    
}




