.poster_block {
    width: 140px;
    text-align: center;
    color: #0089BA;
    font-weight: bold;
    cursor: pointer;
}

.poster_block h6{
    padding-top: 1rem;
}

.popupPosterBlock {
    z-index: 10;
    position: absolute;
    border-radius: 4px;
    background-color: #08202e;
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    font-family: Roboto,Arial,Helvetica,Helvetica Neue,FreeSans,sans-serif;
    color: rgba(255,255,255,0.6);
}
.popupPosterBlock p{
    margin-left: 5px;
    font-size: 14px;
}
.poster_block a {
    text-decoration: none;
    color: #0089BA
}

    .poster_block a:hover {
        color: #08BBFC
    }