
body {
    background-color: #0D1A21;
    font-size: 16px;
}
.jumbotron {
    background-color: #1B3645;

}
.red {
    color: red;
}

li {
    list-style-type: none
}
.filter_genre {
    border: 2px solid;
    margin: 1rem;                       
}


.PosterBlock {
    color: #2e859e
}
