
body {
    /*background-color: #0D1A21;*/
    /*background: url('C:\Users\hrust\source\repos\Filmoteca\src\Images\background movie.png');*/
    background-image: url('.\Images\felix-movie.jpg');
    background-size:cover;
    font-size: 16px;
    overflow-x:hidden;
}

.jumbotron {
    background-color: #dcdce4;
} 

.red {
    color: red;
}

li {
    list-style-type: none
}
/*.filter_genre {
    border: 2px solid;                                                                                                                                                                    
    margin: 1rem;                       
}*/


.PosterBlock {
    color: #2e859e
}
.linkunderline {
    text-decoration: #3F7C9E underline;
}

footer {
    color: white;
    background-color: #292c33;
    padding: 20px;
    opacity: 0.8;
}

footer img {
    width: 25px;
}
footer div {
    flex-direction:column;

}
.footerContacts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    .footerContacts div{
        margin-bottom: 10px;
    }
    .footerContacts span {
        text-align: center;
        opacity: 0.5;
    }
.copyright, h6 {
    text-align: center;
    color :#3d7e9a;
    opacity:0.8;
    font-weight:700;
    font-size: 18px;
}
.socialNetwork img{
    margin: 25px 10px;
    width: 40px;
}
.transoformColumn {
    padding-left: 0px !important;
}
@media(max-width: 720px) {
    .transoformColumn {
        display: flex;
        flex-direction: column;
        padding-left: initial;
        align-items: center
    }
}